<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav mx-4">
    <h4 class="text-light">Employee Management</h4>
  </ul>
</nav>

<div class="container d-flex p-2">
  <a routerLink="/employees" routerLinkActive="active" class="btn btn-primary mx-3">Employee List</a>
  <a routerLink="/create-employee" routerLinkActive="active" class=" btn btn-success">Add Employee</a>
  <div class="m-2 ms-4">
    <label> Select User Type: </label>
    <label>
      <input type="radio" name="user" value="user" [(ngModel)]="selectedOption" (change)="saveToLocalStorage()"> User
    </label>
    <label>
      <input type="radio" name="admin" value="admin" [(ngModel)]="selectedOption" (change)="saveToLocalStorage()"> Admin
    </label>
  </div>
</div>

<div class="container my-3">
  <router-outlet></router-outlet>
</div>
<footer class="footer m">
  <div class="container ">
    <!-- <span>Made by Rohit Kumar </span> -->
  </div>
</footer>